 <div class="header-top header-top-bg--black section-fluid">
                <div class="container">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <div class="header-top-left">
                            <div
                                class="header-top-contact header-top-contact-color--white header-top-contact-hover-color--green">
                                <a href="tel:nqhuan2002@gmail.com" class="icon-space-right"><i
                                        class="icon-call-in"></i>0934436572</a>
                                <a href="mailto:nqhuan2002@gmail.com" class="icon-space-right"><i
                                        class="icon-envelope"></i>nqhuan2002@gmail.com</a>
                            </div>
                        </div>
                        <div class="header-top-right">
                            <div
                                class="header-top-user-link header-top-user-link-color--white header-top-user-link-hover-color--green">
                                <a href="wishlist.html">Login</a>
                                <a href="cart.html">Cart</a>
                                <a href="checkout.html">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>